<div id="panel-app" class="flex flex-col h-full bg-gray-900 min-h-0" style="width: 33.33%; left: 33.33%; position: absolute;">
  <div class="bg-gray-800 text-xs font-bold p-2 border-b border-gray-700 flex justify-between items-center shrink-0 pt-0 pb-0 h-10">
    <div class="flex items-center gap-2">
      <span class="ml-2">Application DSL</span>
      <span id="status-app" class="px-2 py-0.5 rounded bg-green-600 font-mono text-[10px] text-white">Valid</span>
    </div>
  </div>
  <div id="editor-app" class="flex-1 relative min-h-0 w-full"></div>
  <div id="console-app" class="h-1/4 bg-red-950 text-red-300 p-2 font-mono text-xs overflow-y-auto hidden border-t border-red-900 shrink-0"></div>
</div>